{% extends 'base.html' %}

{%block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content"> Welcome to <span style="color:#198b90">FACE RECOGNITION APP</span></h3>
        <br>
            <p class="para">
                A Face Recognition system is a technology which is capable of identifying and verifying a person from an image or a video frame.
                . It has various applications such as it used on social media platforms, ID verification, Deployment in security services etc.
                A Facial Recognition system has one key advantage that it is to person mass identification means can identifying various people in a 
                particular image. This app can do gender classification perfectly. Click on FaceApp to try!
            </p>
        </div>
<style>
.para{
    font-size:25px;
}
</style>
{% endblock  %}